<section class="container">
  <section>
    <mat-form-field class="example-form-field">
      <mat-label>Movie Name</mat-label>
      <input matInput type="text" [(ngModel)] = "movieName" (keyup.enter)="addMovie()">
      <mat-button *ngIf="movieName" matSuffix mat-icon-button aria-label="Clear" (click)="movieName=''">
        <mat-icon>close</mat-icon>
      </mat-button>
    </mat-form-field>
  </section>


  <section>
    <mat-label>Movies List ({{moviesCount()}})</mat-label>
    <mat-button *ngIf="moviesCount()" matSuffix mat-icon-button aria-label="Clear" (click)="clearMovieList()">    
      <mat-icon>close</mat-icon>
    </mat-button>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let movieName of moviesList()">{{movieName}}</mat-list-item>
    </mat-list>
  </section>
</section>